<div class="row">
  <div class="col-md-8 offset-2">
    <h2>{{ title }}</h2>
    <form #myForm="ngForm" class="form-container" (ngSubmit)="onSubmit()" [formGroup]="bookForm">
      <mat-form-field>
        <input matInput type="text"  placeholder="Choose category"  formControlName="categoryBy"
        [matAutocomplete]="auto"/>

        <mat-error *ngIf="this.bookForm.controls['price'].invalid">
          <div *ngIf="this.bookForm.controls['price'].hasError('required')">
            this field cannot be left blank
          </div>
        </mat-error>
        <mat-autocomplete  #auto="matAutocomplete" [displayWith]="displayCategoryName">
          <mat-option *ngFor="let item of categories" [value]="item">
            {{ item.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div>
        <input formControlName="pictureFile" type="file" (change)="upload($event)" />


        <div *ngIf="pictureFile?.invalid && myForm.submitted">
          <span *ngIf="pictureFile?.hasError('required')"> pleasee choose a picture </span>
        </div>
      </div>
      <br>

      <mat-form-field>
        <input matInput formControlName="title" placeholder="Title" />

        <mat-error *ngIf="this.bookForm.controls['title'].invalid">
          <div *ngIf="this.bookForm.controls['title'].hasError('required')">
            this field cannot be left blank
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="author" placeholder="Author" />
        <mat-error *ngIf="this.bookForm.controls['author'].invalid">
          <div *ngIf="this.bookForm.controls['author'].hasError('required')">
            this field cannot be left blank
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="price" placeholder="Price" />

        <mat-error *ngIf="this.bookForm.controls['price'].invalid">
          <div *ngIf="this.bookForm.controls['price'].hasError('required')">
            this field cannot be left blank
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="stock" placeholder="Stock" />

        <mat-error *ngIf="this.bookForm.controls['stock'].invalid">
          <div *ngIf="this.bookForm.controls['stock'].hasError('required')">
            this field cannot be left blank
          </div>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" class="mt-2">
        {{ btnText }}
      </button>
    </form>
  </div>
</div>
