
<a class="mt-2" style="float: right;" mat-raised-button color="accent" routerLink="/admin/book">
  <mat-icon>add</mat-icon> Book Add
</a>



<mat-form-field class="mt-2">
  <mat-label>Filter</mat-label>
  <input  matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Picture </th>
      <td mat-cell *matCellDef="let book">
        <img style="width: 50px; height: 50px;"  [src]="book.picture"/>
      </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>


    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>



    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let book"> {{book.price | currency}} </td>
    </ng-container>



    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td mat-cell *matCellDef="let book"> {{book.stock }} </td>
    </ng-container>


    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
      <td mat-cell *matCellDef="let book"> {{book.categoryBy?.name}} </td>
    </ng-container>



    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let book">
    <button  mat-raised-button color="primary"  [routerLink]="['/admin/book', book._id]" > <mat-icon>update</mat-icon> Update</button>
     <button (click)="delete(book._id)" class="ms-3" mat-raised-button color="warn"   >
      <mat-icon>delete</mat-icon> Delete</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>













































































